<!-- JavaScript Section -->
    <script src="/jquery/dist/jquery.min.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/Scripts/app.js"></script>

      <!-- Footer Code -->

  <!-- Copyright text added -->
  <div class="footer">
	    <div class="container">
	        <p class="text-center text-muted">© Copyright Siddharth Pandya - 2019</p>
	    </div>
	</div>
  
  </body>
</html>