<% include ./partials/header.ejs %>

<!-- File: about.ejs 
     Siddharth Pandya
     300915041
     2019-02-16 -->

<div class="container">

  <div class="jumbotron">

    <h1 class="text-center"><b><%= title %></b></h1>

    <br><br>

    <div class="alert alert-primary" role="alert">

      <div class="media position-relative">
        <img src="./Assets/images/Picture.jpg" width="180px" height="180px" class="mr-3" alt="...">
        <div class="media-body">

          <p class="text-justify">My name is Siddharth Pandya. I am currently enrolled in last semester of Software Engineering
            Technology at Centennial College, Toronto. I started my course in September 2016 and expected graduation
            date is April 2019. Various courses are taught in this course but my interest is more towards web 
            development and system analysis. I believe extra curricular activites are as important as 
            studies for growth. Apart from studies, I love watching sports and movies. Cricket and Soccer are two of my most favourite sports.
            I am very good at cricket and used to be part of my high school cricket team. I am an introvert kind 
            of a person and love spending time with my friends and family.</p>

        </div>
      </div>
      <h5 class="display-8"><b>&nbsp;Siddharth Pandya</b></h5>
    </div>

    <br><br>
    <!-- Resume can be downloaded -->
    <div class="text-center">
      <a class="btn btn-info" href="/Assets/Resume(SET).pdf" download>Download My Resume</a>
    </div>
  </div>

</div>

<% include ./partials/footer.ejs %>