<% include ./partials/header.ejs %>

<!-- File: services.ejs 
     Siddharth Pandya
     300915041
     2019-02-16 -->

<div class="container">

  <div class="jumbotron">

    <h1 class="text-center"><b><%= title %></b></h1>
    <br><br>

    <!-- Form group is used for all 3 sections which are allocated
    equal space by using col-md-4 -->

    <div class="d-flex justify-content-center">
      <div class="form-group col-md-4">

        <div class="card" style="width: 18rem;">
          <img src="./Assets/images/softSkills.jpg" class="card-img-top" alt="..." width="180px" height="270px">
          <div class="card-body">
            <h5 class="text-center"><b>Soft Skills</b></h5>
            <p class="card-text">
              <ul>
                <li>Team Player</li>
                <li>Leadership Skills</li>
                <li>Time Management</li>
                <li>Interpersonal Skills</li>
                <li>Self-motivated</li>
                <li>Communication Skills</li>
                <li>Flexibility/Adaptibility</li>
                <li>Problem Solving Skills</li>
              </ul>
            </p>
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="./Assets/images/technicalSkills.jpg" class="card-img-top" alt="..." width="180px" height="270px">
          <div class="card-body">
            <h5 class="text-center"><b>Technical Skills</b></h5>
            <p class="card-text">
              <ul>
                <li>C#</li>
                <li>Java</li>
                <li>SQL/PLSQL</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>SDLC</li>
                <li>Web API</li>
                <li>ADO.Net</li>
              </ul>
            </p>
          </div>
        </div>
      </div>

      <div class="form-group col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="./Assets/images/relevantCourses.png" class="card-img-top" alt="..." width="180px" height="270px">
          <div class="card-body">
            <h5 class="text-center"><b>Relevant Courses</b></h5>
            <p class="card-text">
              <ul>
                <li>Advance Java Progarmming</li>
                <li>API & Cloud Computing</li>
                <li>Data warehouse & Mining</li>
                <li>Advance Database Concept</li>
                <li>Programming</li>
                <li>Software Security</li>
                <li>Web Application Development</li>
              </ul>
            </p>
          </div>
        </div>


      </div>
    </div>
  </div>

  <% include ./partials/footer.ejs %>