<!-- FileName: contact.component.html (Client)
     Student: Siddharth Pandya
     Student ID: 300915041
     Date: 03/04/2019 -->

<div class="container">

        <div class="jumbotron">

                <h1 class="text-center"><b>Contact</b></h1><br>
            
                <div class="d-flex justify-content-center">
                  <div class="form-group col-md-8">
            
                    <form action="" class="form" method="POST">
                      <div class="form-group">
                        <label for="FirstNameTextField">First Name</label>
                        <input type="text" class="form-control" id="FirstNameTextField" placeholder="Enter First Name"
                          name="firstName" required>
                      </div>
            
                      <div class="form-group">
                        <label for="LastNameTextField">Last Name</label>
                        <input type="text" class="form-control" id="LastNameTextField" placeholder="Enter Last Name" name="lastName"
                          required>
                      </div>
            
                      <div class="form-group">
                        <label for="ContactTextField">Contact</label>
                        <input type="text" class="form-control" id="ContactTextField" placeholder="Enter Contact Number"
                          name="contact" required>
                      </div>
            
                      <div class="form-group">
                        <label for="EmailTextField">Email ID</label>
                        <input type="text" class="form-control" id="EmailTextField" placeholder="Enter Email ID" name="email"
                          required>
                      </div>
            
                      <div class="form-group">
                        <label for="MessageTextField">Message</label><br>
                        <textarea class="form-control" id="yourTextArea" placeholder="Enter Message" required></textarea>
                      </div>
            
                      <button type="submit" class="btn btn-success">
                        <i class="fa fa fa-edit"></i> Submit</button> &nbsp;
            
                      <!-- Cancel button will reset all the information filled -->
                      <button type="reset" class="btn btn-warning">
                        <i class="fa fa fa-undo"></i> Cancel</button>
                    </form>
                  </div>
            
                  <!-- Used cards for displaying contact information -->
            
                  <div class="form-group col-md-4"><br>
                    <div class="col-md-offset-3 col-md-6">
                      <div class="card" style="width: 18rem;">
                        <div class="card-header">
                          <p class="text-center"><b><u>Contact Info</u></b></p>
                        </div>
                        <div class="text-center">
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                              <p class="font-weight-bold">Name:</p> Siddharth Pandya
                            </li>
                            <li class="list-group-item">
                              <p class="font-weight-bold">Email ID:</p> spandy12@gmail.com
                            </li>
                            <li class="list-group-item">
                              <p class="font-weight-bold">Mobile:</p>+1 (523) 697-6133
                            </li>
                            <!-- Link to linkedIn profile -->
                            <li class="list-group-item">
                              <i class="fab fa-linkedin"></i>
                            <a href="https://www.linkedin.com/in/sid07/" target="_blank" class="card-link">  LinkedIn Profile Link</a>
                            </li>
                            <!-- Link to Assignment 1 repository on github -->
                            <li class="list-group-item">
                              <i class="fab fa-lg fa-github"></i>
                            <a href="https://github.com/SiddharthPandya/COMP308-W2019-Assignment1.git" target="_blank" class="card-link">  GitHub Link</a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            
              </div>

    <div *ngIf="isLoggedIn()" class="row">
        <div class="col col-md-6">
            <div class="card">
                <h5 class="card-header alert-success">Secure</h5>
                <div class="card-body">
                    <a routerLink="contact-list" class="btn btn-primary"><i class="fas fa-users fa-lg"></i>Contact List</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br>